.admin-dashboard {
  padding: 0 1rem;
}

.admin-dashboard button{
  padding:0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #468376;
}

.admin-dashboard-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.admin-dashboard-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
