.admin-dashboard-root {
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  width: 85vw;
  height: 100%;
  background-color: #55aca3;
  border: 5px solid #0000004b;
}

.admin-dashboard-body {
  background-color: #ffffff59;
  /* border-radius: 1rem; */
  padding: 1rem;
  height: 80vh;
  overflow: auto;
}
.admin-dashboard-body button{
  background-color: #0000004b;
}

.admin-tabs {
  background-color: #ffffff59;
  /* width: fit-content; */
  display: inline-flex;
  /* gap: 2px; optional */
}

.admin-tabs .tab {
  margin: 0;
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: background 120ms ease, border-color 120ms ease;
}

.admin-tabs .tab:hover {
  background: #ffffff80;
}

.admin-tabs .tab.active {
  /* background: #fff; */
  border-bottom-color: #00000080;
  font-weight: 600;
}